@import url('https://fonts.googleapis.com/css?family=Roboto:400, 500, 700');

#volume-mute, #volume-medium, #volume-off, #volume {
  display: none;
}

body,
span {
  font-family: "Roboto", sans-serif;
  background: #121216;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

audio {
  display: none;
}

h2 {
  font-size: 26px;
  margin: 14px 0;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

p {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  color: grey;
}

.fa-play-circle,
.fa-pause-circle {
  width: 26px !important;
  height: 26px !important;
}

a {
  text-decoration: none;
  color: #9d57e4;
}

.ctr-btn,
.dropbtn,
.dropdown-content span {
  outline: none;
}

.ctr-btn {
  cursor: pointer;
}

.ctr-btn svg {
  color: #eee;
}

.ctr-btn svg:hover,
.ctr-btn:hover {
  color: #fff;
}

.player-footer {
  width: 100%;
  background: #23232d;
  border-top: 1px solid #32323d;
  position: fixed;
  height: 60px;
  bottom: 0;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(92, 87, 92, 0.3);
  -moz-box-shadow: 0px 0px 15px 2px rgba(92, 87, 92, 0.3);
  box-shadow: 0px 0px 15px 2px rgba(92, 87, 92, 0.3);
}

.content {
  width: 100%;
  background: #23232d;
  display: flex;
  justify-content: space-between;
}

.cover {
  height: 100%;
  padding: 5px;
  margin-right: 10px;
}

.cover img {
  width: 50px;
  height: auto;
  border-radius: 2px;
}

.text-time h3,
.text-time p,
.cover img,
.dropbtn,
.dropdown-content span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.audio-player {
  display: flex;
  justify-content: space-between;
  transition: all 0.2s;
  width: 70%;
  background: white;
  box-sizing: border-box;
  height: 60px;
  margin: 0 auto;
  z-index: 20;
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.main_controls {
  width: 15%;
  min-width: 180px;
  margin-right: 10px;
}

.controls {
  display: flex;
  width: 100%;
  height: 50px;
  background: white;
  margin-top: -1px;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.2s;
}

.controls_plays {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.controls_player {
  flex: 1;
  fill: #7fe5a3;
  display: flex;
  justify-content: space-around;
}

.text-time {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 55%;
  color: #eee;
}

.progress {
  height: 45%;
  position: relative;
}

.text-time .title {
  font-size: 14px;
  max-width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-time #current-time, .text-time #timeleft {
  text-align: right;
  font-size: 13px;
  font-weight: 400;
}

#pause_btn {
  display: none;
}

#next_btn {
  margin-right: 2px;
}

#volume_btn {
  cursor: pointer;
  height: 100%;
  width: 23px;
  max-width: 20px;
  transition: all 0.2s;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 18px;
}

.progressbar_slide {
  width: 100%;
  background: #ccc;
  height: 4px;
  top: 5px;
  border-radius: 3px;
  z-index: 6;
  position: relative;
  cursor: pointer;
}

.slider_bar {
  width: 0%;
  background: #008aff;
  height: 4px;
  border-radius: 3px;
  position: absolute;
  top: 5px;
  z-index: 7;
  cursor: pointer;
  pointer-events: none;
}

.progress_range {
  -webkit-appearance: none;
  background: rgba(0,0,0,0);
  cursor: pointer;
  height: 12px;
  left: -5px;
  margin-top: -13px;
  padding: 0;
  position: absolute;
  z-index: 20;
  top: 50%;
  width: calc(100% + 12px);
  outline: none;
}

.progress_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #cdcdcd;
  box-shadow: 0px 0px 3px #0002;
}

/*Dropdown Velocidade*/
.dropbtn {
  background-color: transparent;
  width: min-content;
  height: 100%;
  color: #eee;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #fff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: -8px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #23232d;
  min-width: 45px;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(92, 87, 92, 0.3);
  -moz-box-shadow: 0px 0px 15px 2px rgba(92, 87, 92, 0.3);
  box-shadow: 0px 0px 15px 2px rgba(92, 87, 92, 0.3);
  z-index: 1;
  top: -231px;
  left: 2px;
  transition: .3s ease;
}

/* Links inside the dropdown */
.dropdown-content span {
  color: #eee;
  background: #23232d;
  padding: 9px 5px;
  font-size: 12px;
  text-decoration: none;
  display: block;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid #32323d;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {
  background-color: #32323f;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.volume-slide {
  display: none;
  background: #23232d;
  position: absolute;
  width: 120px;
  height: 20px;
  padding: 4px 14px 12px 10px;
  z-index: 1;
  transform: rotate(-90deg);
  top: -90px;
  left: 113px;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(92, 87, 92, 0.3);
  -moz-box-shadow: 0px 0px 15px 2px rgba(92, 87, 92, 0.3);
  box-shadow: 0px 0px 15px 2px rgba(92, 87, 92, 0.3);
  cursor: default;
}

.volumeHover:hover .volume-slide {
  display: block;
}

.slider:hover .volumeHover .ctr-btn {
  color: #000;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: linear-gradient(to right, rgb(0, 138, 255) 0%, rgb(0, 138, 255) 100%, rgb(238, 238, 238) 100%, rgb(238, 238, 238) 100%);
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #cdcdcd;
  box-shadow: 0px 0px 3px #0002;
  cursor: grab;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(92, 87, 92, 1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(92, 87, 92, 1);
  box-shadow: 0px 0px 3px 0px rgba(92, 87, 92, 1);
  background: #000;
  cursor: grab;
}
